<!DOCTYPE html>
<html>
<head>
<title> Book </title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>

	<h1 style="color: red;">Library Home Page </h1> <hr>
	<!-- {% for b in books%}
	{{ forloop.counter }}
	 -- {{b.name}}<br>
	{% endfor %} -->


	<form action='/save-book/' method ='post'>
		{% csrf_token %}
		{% if book %}	
			Book ID : <input type="text" value= '{{book.id}}' name= 'id' readonly><br><br>
		{% endif %}
		Book Name: <input type = 'text' value='{{book.name}}' name = 'name'required><br><br>
		Book Author: <input type = 'text'value='{{book.author}}'  name = 'author'required><br><br>
		Book Qty: <input type = 'number'value='{{book.qty}}' name = 'qty'required><br><br>
		Book Price: <input type = 'number'value='{{book.price}}' name = 'price'required><br><br>
		{% if book.is_published %}
			Book Published: <input type='checkbox' name='pub' checked><br><br>
		{% else %}
			Book Published: <input type='checkbox' name='pub'><br><br>
		 
		{% endif %} 

		{% if book %}
			<input type = 'submit' value = 'Update Book'>

		{% else %}
			<input type = 'submit' value = 'Add Book'>
		
		{% endif %}
		


		
	
	  </style>
	  </head>
	  <body>
	  
	<!-- <h3> Book Form (bootstrap)</h3> -->


	</form>

	
	<hr>
	<a href="/show-deleted-data/" class="btn btn-info" role="button">Show Deleted Data</a>
	<h3> All books </h3> <a href="/show-deleted-data/"> <button>Show Deleted Data</button> </a> <a href="/homepage/">Go to homepage </a> 
	<table border="3">
			<thead>
				<th> ID </th>
				<th> Name </th>
				<th> Author </th>
				<th> Qty </th>
				<th> Price </th>
				<th> Is Published </th>
				<th>Actions</th>
			</thead> 

			
			<tbody>
				
				{% for b in books %}
					
					
					<tr>
						<td>{{b.id}}</td>	
						<td>{{b.name}}</td>	
						<td>{{b.author}}</td>	
						<td>{{b.qty}}</td>	
						<td>{{b.price}}</td>
						<td>{{b.is_published}}</td>
						<td>
							{% ifequal b.is_deleted 'Y' %}
							
							<a href="/h-delete-book/{{b.id}}/"><button>Hard Delete</button> </a>
							<a href="/restore/{{b.id}}/"><button type="button"> restore</button> </a>
							
							{% endifequal %}
							
							{% ifequal b.is_deleted 'N' %}
							<a href="/delete-book/{{b.id}}/"> <button>Soft Delete</button> </a>

							<a href="/edit-book/{{b.id}}/"> <button>Edit</button> </a>
							
							{% endifequal %}


						</td> 
					</tr>
				 

				{% endfor %}

			</tbody>



		 
	 	</table>
	

	
</body>

</html>